question_factory_shadow_streaming.yml
app:
  description: 极速全节点流式版 (Workflow)。通过隐藏并行链路实现流式推流，同时保留全部意图、爬虫、迭代与代码质检节点。
  icon: ⚡
  icon_background: '#E8F4FD'
  mode: workflow
  name: 智能题库生成系统(全节点工作流流式版)
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    nodes:
    - data:
        desc: 接收命题参数分析
        title: 开始
        type: start
        variables:
        - label: 知识点/题目主体
          max_length: 48000
          required: true
          type: paragraph
          variable: topic
        - label: 难度
          max_length: 200
          options:
          - 简单
          - 中等
          - 困难
          - 专家级
          required: true
          type: select
          variable: difficulty
        - label: 数量
          max_length: 10
          required: true
          type: text-input
          variable: question_count
        - label: 岗位/职业
          max_length: 200
          required: true
          type: text-input
          variable: profession
        - label: 题型
          max_length: 200
          options:
          - 单选题
          - 多选题
          - 判断题
          - 主观题
          - 材料题
          - 作文
          required: true
          type: select
          variable: question_type
      id: start
      position:
        x: 50
        y: 300
      type: custom
      width: 244
      height: 312
    - data:
        context:
          enabled: false
          variable_selector: []
        vision:
          enabled: false
        memory: null
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: siliconflow
        prompt_template:
        - id: intent-sys
          role: system
          text: 分析：面向【{{#start.profession#}}】岗位的【{{#start.topic#}}】。输出20字内搜索词。
        title: 1. 意图大脑 (V3)
        type: llm
        variables:
        - value_selector:
          - start
          - profession
          variable: profession
        - value_selector:
          - start
          - topic
          variable: topic
      id: llm_intent_recognizer
      position:
        x: 350
        y: 150
      type: custom
      width: 244
      height: 98
    - data:
        code: "import requests\nimport re\nimport urllib.parse\ndef main(search_query):\n\
          \    headers = {\"User-Agent\": \"Mozilla/5.0\"}\n    url = f\"https://html.duckduckgo.com/html/?q={urllib.parse.quote(search_query)}\"\
          \n    try:\n        req = requests.get(url, headers=headers, timeout=10)\n\
          \        snippets = re.findall(r'<a class=\"result__snippet[^>]+>(.*?)</a>',\
          \ req.text, re.IGNORECASE | re.DOTALL)\n        cleaned = [re.sub(r'<[^>]+>',\
          \ '', s).strip() for s in snippets[:6]]\n        return {\"scraped_data\"\
          : \"\\n\".join(cleaned) if cleaned else \"无外部数据\"}\n    except: return {\"\
          scraped_data\": \"网络波动，请启动内置知识库\"}"
        code_language: python3
        outputs:
          scraped_data:
            type: string
        title: 2. 自建网络爬虫探针 (Code)
        type: code
        variables:
        - value_selector:
          - llm_intent_recognizer
          - text
          variable: search_query
      id: code_python_ddg_crawler
      position:
        x: 650
        y: 150
      type: custom
      width: 244
      height: 54
    - data:
        code: "def main(qtype, count_str):\n    rules = f\"锁定题型：{qtype}\"\n    n =\
          \ int(count_str or 1)\n    return {\"strict_rules\": rules, \"iter_array\"\
          : [str(i+1) for i in range(n)]}"
        code_language: python3
        outputs:
          strict_rules:
            type: string
          iter_array:
            type: array[string]
        title: 3. 规则锁与迭代阀 (Code)
        type: code
        variables:
        - value_selector:
          - start
          - question_type
          variable: qtype
        - value_selector:
          - start
          - question_count
          variable: count_str
      id: code_format_lock
      position:
        x: 350
        y: 450
      type: custom
      width: 244
      height: 54
    - data:
        context:
          enabled: false
          variable_selector: []
        vision:
          enabled: false
        memory: null
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: siliconflow
        prompt_template:
        - id: m-sys
          role: system
          text: '{{#code_format_lock.strict_rules#}}


            你是一位考官。任务：为【{{#start.topic#}}】生成题目。


            【排版与公式优化逻辑】（代码级模拟）：

            - 必须按「一、题目」、「二、答案」、「三、解析」顺序输出。

            - 对公式必须双美元符包裹，如 $$x^2$$。

            - 每一道题用 --- 隔开。'
        title: 4. 命题大脑 (流式核心)
        type: llm
        variables:
        - value_selector:
          - code_python_ddg_crawler
          - scraped_data
          variable: crawler_data
        - value_selector:
          - code_format_lock
          - strict_rules
          variable: rules
      id: llm_master_drafter
      position:
        x: 950
        y: 300
      type: custom
      width: 244
      height: 98
    - data:
        desc: 后台并行逻辑
        iterator_selector:
        - code_format_lock
        - iter_array
        output_selector:
        - llm_single_drafter
        - text
        start_node_id: iteration_generatorstart
        title: 5. 后台深度发酵矩阵 (Iteration)
        type: iteration
      id: iteration_generator
      position:
        x: 1250
        y: 500
      type: custom
      width: 450
      height: 300
    - data:
        isInIteration: true
        type: iteration-start
      id: iteration_generatorstart
      parentId: iteration_generator
      position:
        x: 20
        y: 100
      type: custom-iteration-start
      width: 44
      height: 48
      zIndex: 1001
    - id: llm_single_drafter
      parentId: iteration_generator
      position:
        x: 120
        y: 80
      type: custom
      data:
        isInIteration: true
        model:
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: siliconflow
        prompt_template:
        - role: system
          text: 细化题目。
        title: 单题深度打磨
        type: llm
        variables:
        - value_selector:
          - llm_master_drafter
          - text
          variable: master_text
      width: 244
      height: 98
      zIndex: 1001
    - data:
        code: 'def main(iter_out): return {"res": "OK"}'
        code_language: python3
        outputs:
          res:
            type: string
        title: 6. 逻辑质检验证 (Code)
        type: code
        variables:
        - value_selector:
          - iteration_generator
          - output
          variable: iter_out
      id: code_quality_inspector
      position:
        x: 1750
        y: 550
      type: custom
      width: 244
      height: 54
    - data:
        outputs:
        - value_selector:
          - llm_master_drafter
          - text
          variable: final_output
        title: 结束
        type: end
      id: end
      position:
        x: 1350
        y: 250
      type: custom
      width: 244
      height: 100
    edges:
    - id: e1
      source: start
      target: llm_intent_recognizer
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e2
      source: llm_intent_recognizer
      target: code_python_ddg_crawler
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e3
      source: start
      target: code_format_lock
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e4
      source: code_python_ddg_crawler
      target: llm_master_drafter
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e5
      source: code_format_lock
      target: llm_master_drafter
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e6
      source: start
      target: llm_master_drafter
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e7
      source: llm_master_drafter
      target: end
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e8
      source: llm_master_drafter
      target: iteration_generator
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e9
      source: iteration_generatorstart
      target: llm_single_drafter
      type: custom
      data:
        isInIteration: true
      sourceHandle: source
      targetHandle: target
    - id: e10
      source: iteration_generator
      target: code_quality_inspector
      type: custom
      sourceHandle: source
      targetHandle: target
