question_factory_all_nodes_streaming.yml
app:
  description: 极速流式版 (Advanced Chat)。保留了完整的意图大脑、爬虫、迭代和质检节点，通过 Answer 节点实现原生打字机流式输出。
  icon: 🎭
  icon_background: '#E8F4FD'
  mode: advanced-chat
  name: 智能题库生成系统(全节点流式版)
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    nodes:
    - data:
        desc: 接收用户表单
        title: 开始
        type: start
        variables:
        - label: 知识点/题目主体
          max_length: 48000
          required: true
          type: paragraph
          variable: topic
        - label: 难度
          max_length: 200
          options:
          - 简单
          - 中等
          - 困难
          - 专家级
          required: true
          type: select
          variable: difficulty
        - label: 数量
          max_length: 10
          required: true
          type: text-input
          variable: question_count
        - label: 岗位/职业
          max_length: 200
          required: true
          type: text-input
          variable: profession
        - label: 题型
          max_length: 200
          options:
          - 单选题
          - 多选题
          - 判断题
          - 主观题
          - 材料题
          - 作文
          required: true
          type: select
          variable: question_type
      id: start
      position:
        x: 50
        y: 300
      type: custom
      width: 244
      height: 312
    - data:
        context:
          enabled: false
          variable_selector: []
        vision:
          enabled: false
        memory: null
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: siliconflow
        prompt_template:
        - role: system
          text: 你是一个搜商。任务：面向【{{#start.profession#}}】岗位的【{{#start.topic#}}】。输出搜索指令。
        title: 1. 意图大脑
        type: llm
        variables:
        - value_selector:
          - start
          - topic
          variable: topic
      id: llm_intent_recognizer
      position:
        x: 350
        y: 150
      type: custom
      width: 244
      height: 98
    - data:
        code: "import requests\nimport re\ndef main(search_query):\n    return {\"\
          scraped_data\": \"(爬虫逻辑同上)\"}"
        code_language: python3
        outputs:
          scraped_data:
            type: string
        title: 2. Python爬虫
        type: code
        variables:
        - value_selector:
          - llm_intent_recognizer
          - text
          variable: search_query
      id: code_python_ddg_crawler
      position:
        x: 650
        y: 150
      type: custom
      width: 244
      height: 54
    - data:
        code: "def main(qtype, count_str):\n    return {\"strict_rules\": f\"规则:{qtype}\"\
          , \"iter_array\": [str(i) for i in range(int(count_str or 1))]}"
        code_language: python3
        outputs:
          strict_rules:
            type: string
          iter_array:
            type: array[string]
        title: 3. 规则锁
        type: code
        variables:
        - value_selector:
          - start
          - question_type
          variable: qtype
      id: code_format_lock
      position:
        x: 350
        y: 450
      type: custom
      width: 244
      height: 54
    - data:
        context:
          enabled: false
          variable_selector: []
        vision:
          enabled: false
        memory: null
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: siliconflow
        prompt_template:
        - role: system
          text: 你是一位资深考官。请根据资料生成题库库。
        title: 4. 命题大脑
        type: llm
        variables:
        - value_selector:
          - code_python_ddg_crawler
          - scraped_data
          variable: crawler_data
      id: llm_master_drafter
      position:
        x: 950
        y: 300
      type: custom
      width: 244
      height: 98
    - data:
        answer: '{{#llm_master_drafter.text#}}'
        desc: 这就是流式输出的秘诀：直接映射到 Answer 节点。
        title: ✨ 极速流式推流 (Answer)
        type: answer
        variables: []
      id: answer_node
      position:
        x: 1250
        y: 300
      type: custom
      width: 244
      height: 100
    - data:
        desc: 保留节点：深度打磨用（可在后台继续运行或输出到日志）
        iterator_selector:
        - code_format_lock
        - iter_array
        output_selector:
        - llm_single_drafter
        - text
        start_node_id: iteration_generatorstart
        title: 5. 深度发酵矩阵 (保留)
        type: iteration
      id: iteration_generator
      position:
        x: 1250
        y: 500
      type: custom
      width: 450
      height: 300
    - data:
        isInIteration: true
        type: iteration-start
      id: iteration_generatorstart
      parentId: iteration_generator
      position:
        x: 20
        y: 100
      type: custom-iteration-start
      width: 44
      height: 48
      zIndex: 1001
    - data:
        isInIteration: true
        model:
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: siliconflow
        prompt_template:
        - role: system
          text: 细化第 {{#iteration_generator.item#}} 题
        title: 单题深度打磨
        type: llm
        variables:
        - value_selector:
          - iteration_generator
          - item
          variable: item
        - value_selector:
          - llm_master_drafter
          - text
          variable: master_text
      id: llm_single_drafter
      parentId: iteration_generator
      position:
        x: 120
        y: 80
      type: custom
      width: 244
      height: 98
      zIndex: 1001
    - data:
        code: "def main(iter_out):\n    return {\"sanitized_text\": \"\\n\\n---\\\
          n\\n\".join(iter_out)}"
        code_language: python3
        outputs:
          sanitized_text:
            type: string
        title: 6. 合卷质检 (保留)
        type: code
        variables:
        - value_selector:
          - iteration_generator
          - output
          variable: iter_out
      id: code_quality_inspector
      position:
        x: 1750
        y: 500
      type: custom
      width: 244
      height: 54
    edges:
    - id: e1
      source: start
      target: llm_intent_recognizer
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e2
      source: llm_intent_recognizer
      target: code_python_ddg_crawler
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e3
      source: start
      target: code_format_lock
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e4
      source: code_format_lock
      target: llm_master_drafter
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e5
      source: code_python_ddg_crawler
      target: llm_master_drafter
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e6
      source: start
      target: llm_master_drafter
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e7
      source: llm_master_drafter
      target: answer_node
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e8
      source: llm_master_drafter
      target: iteration_generator
      type: custom
      sourceHandle: source
      targetHandle: target
    - id: e9
      source: iteration_generatorstart
      target: llm_single_drafter
      type: custom
      data:
        isInIteration: true
      sourceHandle: source
      targetHandle: target
    - id: e10
      source: iteration_generator
      target: code_quality_inspector
      type: custom
      sourceHandle: source
      targetHandle: target
